{% block footer %}
    <footer id="myFooter">
        <div class="container">
            <ul>
                <li><a href="#">Company Information</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">Terms of service</a></li>
            </ul>
        <p class="footer-copyright">&copy; 2017 {{ author }} & the Wibu</p>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <a href="https://youtu.be/OLpeX4RRo28?t=114" target="_blank" style="bottom: 0; right: 0; position: fixed; margin: 0 15px 15px 0;"><img src="https://upload.wikimedia.org/wikipedia/en/8/8b/Pink_Season.jpg" style="border-radius: 50%;width: 75px;height: 75px;"></a>
    
{% endblock %}