<nav >
  <div id="navigation" class="topnav">
    <a href="{% url 'lab-4:index' %}">Home</a>
    <a href="{% url 'lab-4:index' %}#bio_landing">Biography</a>
    <a href="{% url 'lab-4:index' %}#aboutme_landing">About me</a>
    <a href="{% url 'lab-4:index' %}#form_landing">Form</a>
    <a href="{% url 'lab-4:result_table' %}"> Messages Table</a>
  </div>
</nav>