{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="LAB 4">
    <meta name="author" content="{{author}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- bootstrap csss -->
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/lab_4.css' %}" />   
    <!--style-->
    <style type="text/css">
          * {
  box-sizing: border-box; 
}

body {
  margin: 0; 
  font-weight: 500;
  font-family: 'HelveticaNeue';
}

section {
  width: 100%;
  padding: 0 0;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #FFF;
  height: 100vh;
}

.content {
  display: table-cell;
  vertical-align: middle;
}

h1 {
  font-size: 3em;
  display: block;
  color: white;
  font-weight: 300;
}

p {
  font-size: 1.5em;
  font-weight: 500;
  color: #C3CAD9;
}

a {
  font-weight: 700;
  color: #373B44;
  position: relative;
  
  &:hover{ 
    opacity: 0.8;
  }
  
  &:active {
    top: 1px;
  }
}

#banner h1 {
  display: block;
  border: 10px solid #f71d37;;
  position: absolute;
  height: 30vh;
  width: 30vw;
  line-height: 25vh; 
  text-align: center;
  vertical-align: middle;
  color:#f71d37;
  font-size:10vh;
  font-weight: bold;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
  z-index: 30;
}



/* navbar */
/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;

}
nav {
  position: fixed;
  line-height: 5px;
}
/* Style the links inside the navigation bar */
.topnav a {
    font-family:"Courier New", Courier, monospace;
    font-weight: lighter;
    display: block;
    color: #464646;
    text-align: left;
    padding: 5px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: #f71d37;
    font-weight: bold;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.content {
  display: table-cell;
  vertical-align: middle;
}

.leftbox {
  left:12%;
  float: left;
  width: 44%;
  vertical-align: middle;
  text-align: center;
}

.rightbox {
  float: right;
  width: 44%;
  vertical-align: middle;
  text-align: center;
}

/* bio */
.profile_img {
  width: 100px;
  border-radius: 50%;
  position: relative;
  margin-bottom: -10vh;
}


.section-title-jap {
  font-size: 14vh;
  text-align: center;
  color:#f71d37;
}

.section-title{
  font-family:"Courier New", Courier, monospace;
  font-weight: lighter;
  text-align: center;
  padding-top: 15vh;
  font-size: 5vh;
}
  
.section-spell a{
  font-size: 3vh;
  text-align: center;
 }

.section-content {
  text-align: center;
  font-size: 2vh;
  font-family:"Courier New", Courier, monospace;
  font-weight: lighter;
}

/* about me */
.section-content li {
  list-style-type: none;
  text-align: center;
}


/* msg */
.msg {
  padding-top: 5vh;
}

#form{
    font-family:"Courier New", Courier, monospace;
    font-weight: lighter;
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    background: #FFF
}


#form input[type="text"],
#form input[type="date"],
#form input[type="datetime"],
#form input[type="email"],
#form input[type="number"],
#form input[type="search"],
#form input[type="time"],
#form input[type="url"],
#form textarea,
#form select 
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}
#form input[type="text"]:focus,
#form input[type="date"]:focus,
#form input[type="datetime"]:focus,
#form input[type="email"]:focus,
#form input[type="number"]:focus,
#form input[type="search"]:focus,
#form input[type="time"]:focus,
#form input[type="url"]:focus,
#form textarea:focus,
#form select:focus
{
    box-shadow: 0 0 5px #f71d37;;
    padding: 3%;
    border: 1px solid #f71d37;;;
}

#form input[type="submit"],
#form input[type="button"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #43D1AF;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;    
    color: #fff;
}
#form input[type="submit"]:hover,
#form input[type="button"]:hover{
    background: #2EBC99;
}

button {
    background-color:#f71d37;
    border: none;
    color: white;
    width: 100%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

/* footer */
#myFooter{
    padding-top:32px;
}

#myFooter .container{
    text-align: center;
}

#myFooter .footer-copyright{
    margin-bottom: 35px;
    text-align: center;
    color: #777;
}

#myFooter ul{
    list-style-type: none;
    padding: 0;
    margin-bottom: 18px;
}

#myFooter a{
    color: #282b2d;
    font-size: 18px;
}

#myFooter li{
    display: inline-block;
    margin: 0px 15px;
    line-height: 2;
}

#myFooter .footer-social{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #eee;
}

#myFooter .fa{
    font-size: 36px;
    margin-right: 15px;
    margin-left: 20px;
    background-color: white;
    color: #d0d0d0;
    border-radius: 51%;
    padding: 10px;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 43px;
    text-decoration: none;
    transition:color 0.2s;
}

#myFooter .fa-facebook:hover{
   color: #2b55ff;
}

#myFooter .fa-facebook:focus{
    color: #2b55ff; 
}

#myFooter .fa-google-plus:hover{
    color:red;
}

#myFooter .fa-google-plus:focus{
    color:red;
}

#myFooter .fa-twitter:hover{
    color: #00aced;

}

#myFooter .fa-twitter:focus{
    color:#00aced;
}

    </style>

<!-- end of style -->
    <title> 
        {% block title %} Lab 4 By {{author}}{% endblock %}
    </title>
</head>

<body>
    <header>
        {% include "lab_4/partials/header.html" %}
    </header>
    <content>
        <div class="container">
            {% block content %}
                <!-- content goes here -->
            {% endblock %}
        </div>

    </content>
    <footer>
        <!-- TODO Block Footer dan include footer.html -->
        {% block footer %}
        {% include "lab_4/partials/footer.html" %}
        {% endblock %}
    </footer>

    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>