{% extends "lab_4/layout/base.html" %}
{% load staticfiles %}
    {% block content %}
    <section name="home">
        <div id="banner">
            <h1>ようこそ</h1>
        </div>
    </section>
    <hr/>
    <section name="bio" id="bio_landing">
        <div class="content">
            <div class="leftbox">
                <h1 class="section-title-jap">伝記</h1>
            </div>
            <div class="rightbox">
                <img class="profile_img" src="https://i1.sndcdn.com/avatars-000247799221-gz7udo-t500x500.jpg">
                <h2 class="section-title">Baiogurafī</h2>
                <p class="section-content biocontent">
                  {{ content }}
                </p>
            </div>
        </div>
    </section>
    <hr/>
    <section name="about_me" id="aboutme_landing">
        <div class="content">
            <div class="leftbox">
                <h2 class="section-title">Aboutu Me</h2>
                <ul class="section-content">
                    {% for ii in about_me %}
                    <li> {{ ii }} </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="rightbox">
                <h1 class="section-title-jap">私について</h1>
            </div>
        </div>
    </section>
    <hr/>
    <section name="form" id="form_landing">
        <div class="content">
            <div class="leftbox">
                <h1 class="section-title-jap">メッセージを送る</h1>
            </div>
            <div class="rightbox">
                <h2 class="msg  section-title">Sendu Message</h2>
                <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
                    {% csrf_token %}
                    {{ message_form }}
                    <br>
                    <button type="submit" class="btn btn-default">submit</button>
                </form>
            </div>
        </div>
    </section>
    <hr/>

    {% endblock %}
